/**
 * Colors
 */

$primary: #286BA2;
$primary-hover: #5389b5;
$primary-active: #246092;

$primary-dark: #236092;

$secondary: #27BC7E;
$secondary-hover: #52C998;
$secondary-active: #23A971;

$tertiary: #2E3034;
$tertiary-hover: #58595d;
$tertiary-active: #292b2f;

$red: #DB0011;
$red2: #C8001A;
$blue: #286BA2;
$nav-blue: #2872ae;
$content-blue: #0E147C;
$black: #000000;
$gray: #707070;
$space-gray: #B3B1B3;
$g-white: #EDECED;
$white: #FFFFFF;
$white-hover: #E7E6F1;
$white-active: #E7E6F1;
$blue-hover: #002D9D;
$blue-active: #00164C;
$red-hover: #F20215;
$red-active: #A6000D;
$orange-warning: #d98832;
$star-yellow: #ee9e3b;
$gray-light: #979797;
